<section id="okurze" class="section about">
  <div class="grid-x grid-padding-x">
    <div class="cell small-12 medium-6">
      <p class="about__claim">
        Päť dní. Vonku a iba s tým, čo si nesieš na chrbte, s tým, čo si nesieš v sebe. Život bez nánosov civilizácie.
      </p>
    </div>
    <div class="cell small-12 medium-6">
      <h3>Čo ťa čaká?</h3>
      <p>
        Nie je to kurz prežitia. Napriek tomu si zažiješ mráz až na kosť. Overíš si, že telo sa so zimou vysporiada po svojom. A možno tak ako my odhalíš svojské čaro zimy. Cez skrehnuté prsty, studené nohy či zmrznutý spacák ;)
      </p>
      <p>
        Naučíme ťa, ako fungovať v zimných podmienkach, no nezostaneme len pri tom. Cestou Zimy je zážitkový kurz. V tichej zimnej krajine ti tak dáme priestor zamyslieť sa nad svojimi hodnotami.
      </p>
      {# Cestou Zimy je zážitková akcia mládežníckej organizácie Plusko. Naučíš sa zručnosti potrebné pre putovanie v zime a zimné táborenie - ako inak, na vlastnej koži. Naviac ti dáme možnosť ďaleko od civilizácie popremýšľať o tvojich životných hodnotách. Nebudeme totiž celý čas iba stavať iglú. Očakávaj aj bloky zamerané na to, čo je pre teba v živote dôležité. Skrátka ti nedáme pokoj! #}
    </div>
  </div>
</section>