<section class="section need">
		<div class="grid-x grid-padding-x">
			<div class="cell small-12 medium-4 large-5">
				<h3>Čo budeš potrebovať?</h3>
				<p>
					<ul>
						<li>aspoň priemernú kondičku</li>
						<li>vek minimálne 18 rokov</li>
						<li>poctivú prípravu</li>
					</ul>
				</p>
				<p>V dokumente nižšie nájdeš zoznam odporúčanej výbavy a tipy&triky od inštruktorov a bývalých účastníkov. Prejdi si ho už teraz.</p>
				<p><a href="/files/material-cestou-zimy-2021.pdf" class="button" target="_blank">Stiahni si zoznam výbavy v pdf</a></p>
				<p><strong>Neboj, to zvládneš.</strong> Trpieť ťa nenecháme a napriek zime a snehu sa budeme aj baviť :)</p>
			</div>
			<div class="cell small-12 medium-4 large-2">
				<img src="/images/stromky_s_macom.gif" alt="" class="need__illustration">
			</div>
			<div class="cell small-12 medium-4 large-5">
				<p>
					Pravdepodobne zistíš, že mnoho vecí ti chýba. Vieme, že pozháňať výbavu nie je maličkosť (ani finančná), preto odporúčame:
					<ul>
						<li><strong>pýtať sa kamošov v okolí</strong> - väčšina vecí sa dá požičať (zvlášť ak nevieš, či ťa zimné akcie do budúcnosti chytia)</li>
						<li><strong>objednať u ježiška</strong> - niektoré veci nepožičiaš (napr. topánky, termoprádlo), no tvoja účasť na kurze bude jasná už pred Vianocami. Môžeš to využiť a nechať si niečo dodať pod stromček</li>
						<li><strong>ozvi sa nám</strong> - niečo vieme požičať aj my (prípadne Plusko), vieme ti dať aj kontakty na požičovne výbavy</li>
					</ul>
				</p>
				<p>Na kurze fungujeme v malých skupinkách. Veci ako stan, jedlo či náradie si budete môcť v rámci nich rozdeliť.</p>
			</div>
		</div>
	</section>