<section id="covid-info" class="section apply">
  <div class="grid-x grid-padding-x">
    <div class="cell">
      <h2 class="apply__title section__title">Počasie, vyššia moc</h2>
    </div>
  </div>
  <div class="grid-x grid-padding-x">
    <div class="cell small-12 medium-8">
      {% markdown %}
        {#Budeme dodržiavať aktuálne nariadenia ([OTP](https://korona.gov.sk/wp-content/uploads/2021/08/covid-rez-im_otp_logo.pdf)), takže si vypýtame k nahliadnutiu **očkovací certifikát**, test alebo potvrdenie o prekonanom covide. V prípade, že sa kurz kvôli nariadeniu vlády SR, resp. hygienického úradu nebude môcť uskutočniť, vrátime ti plnú sumu.#}

        Stav **snehových podmienok** a počasie samotné budeme intenzívne sledovať najmä 2 týždne pred kurzom. Pri nedostatku snehu a hlavne pri teplotách nad bodom mrazu hrozí, že nebudeme môcť putovnú časť zrealizovať. Máme pre tento prípad pripravený záložný variant v podobe skrátenia kurzu len na putovnú časť, takže si sneh užijeme určite aspoň v kopcoch. Samozrejme tomu prispôsobíme aj naše vybavenie a cenu akcie, ktorá bude výrazne nižšia. V tomto momente stačí vedieť, že rátame aj s takýmto variantom. 
      {% endmarkdown %}
      </div>
    </div>
</section>