<section id="covid-info" class="section apply">
  <div class="grid-x grid-padding-x">
    <div class="cell">
      <h2 class="apply__title section__title">Počasie, vyššia moc</h2>
    </div>
  </div>
  <div class="grid-x grid-padding-x">
    <div class="cell small-12 medium-8">
      {% markdown %}
        {#Budeme dodržiavať aktuálne nariadenia ([OTP](https://korona.gov.sk/wp-content/uploads/2021/08/covid-rez-im_otp_logo.pdf)), takže si vypýtame k nahliadnutiu **očkovací certifikát**, test alebo potvrdenie o prekonanom covide. V prípade, že sa kurz kvôli nariadeniu vlády SR, resp. hygienického úradu nebude môcť uskutočniť, vrátime ti plnú sumu.#}

        Stav počasia a najmä **snehových podmienok** sa nám v posledných rokoch vyvíja pre zimné kurzy nepriaznivo. Aj preto sme tohtoročný formát oproti minulým upravovali. Predpoveď počasia budeme intenzívne sledovať najmä 2 týždne pred kurzom a v prípade akýchkoľvek zmien ti dáme potrebné info najskôr ako budeme schopní rozhodnúť o prípadnej nutnej zmene. V tomto momente však stačí vedieť, že rátame aj s takýmto variantom a dúfame, že sa nestane :)
      {% endmarkdown %}
      </div>
    </div>
</section>