{% set year = '2020' %}
{% set date = '8. február - 15. február 2024' %}
{% set altdate = '' %}
{% set deadline = '20.11.2021' %}
{% set formlink = 'https://docs.google.com/forms/d/e/1FAIpQLSd9r2CFIjCxU66_4SE0mO4ES4VAqhF95Ra6Iz4EvYbkosRV2A/viewform' %}
{% set contactperson = '' %}
{% set contactmail = 'info.zimnykurz@plusko.net' %}
{% set contactphone = '+421 915 845 455' %}
{% set price = '140' %}
{% set price2 = '160' %}
{% set fb_event = '' %}

{% extends "_layout.common.twig" %}

{% block title %}Cestou Zimy, zimný kurz Pluska{% endblock %}

{% block page %}

{% include '_hero.twig' %}

<div class="contentwrap">
  {% include '_about.twig' %}
  {% include '_testimonials.twig' %}
  {% include '_course-parts.twig' %}
  {% include '_gallery.twig' %}
  {% include '_equipment.twig' %}
</div>

<hr>

<div class="contentwrap">
  {% include '_team.twig' %}
  {% include '_signup.twig' %}
  {% include '_weather-covid.twig' %}
</div>

{% endblock %}
