{% set year = '2020' %}
{% set date = '8. február - 15. február 2020' %}
{% set altdate = '' %}
{% set deadline = '18.11. 2019' %}
{% set formlink = 'https://docs.google.com/forms/d/e/1FAIpQLSdoOAVLcwkgdLJA7klytCQ7mgYqLZfvaOYDiam7Cr3-MxkCsQ/viewform' %}
{% set contactperson = '' %}
{% set contactmail = 'info.zimnykurz@plusko.net' %}
{% set contactphone = '0907 063 840' %}
{% set price = '140' %}
{% set price2 = '160' %}
{% set fb_event = '' %}

{% extends "_layout.common.twig" %}

{% block title %}Cestou Zimy, zimný kurz Pluska{% endblock %}

{% block page %}

{% include '_hero.twig' %}

<div class="contentwrap">
	{% include '_about.twig' %}
	{% include '_testimonials.twig' %}
	{% include '_course-parts.twig' %}
	{% include '_gallery.twig' %}
	{% include '_equipment.twig' %}
</div>

<hr>

<div class="contentwrap">
	{% include '_team.twig' %}
	{% include '_signup.twig' %}
</div>

{% endblock %}
