{% set year = '2023' %}
{% set date = '3. február - 7. február 2024' %}
{% set altdate = '20. január - 21. január 2024' %}
{% set deadline = '12.11.2023' %}
{% set formlink = 'https://docs.google.com/forms/d/e/1FAIpQLScFYmX0p_fD9IVF5IIBo6X61HORCbDjlS3T8g83fR-7x7w_MA/viewform' %}
{% set contactperson = '' %}
{% set contactmail = 'info.zimnykurz@plusko.net' %}
{% set contactphone = '+421 915 845 455' %}
{% set price = '100' %}
{% set price2 = '120' %}
{% set fb_event = '' %}

{% extends "_layout.common.twig" %}

{% block title %}Cestou Zimy, zimný kurz Pluska{% endblock %}

{% block page %}

{% include '_hero.twig' %}

<div class="contentwrap">
  {% include '_about.twig' %}
  {% include '_testimonials.twig' %}
  {% include '_course-parts.twig' %}
  {% include '_gallery.twig' %}
  {% include '_equipment.twig' %}
</div>

<hr>

<div class="contentwrap">
  {% include '_team.twig' %}
  {% include '_signup.twig' %}
  {% include '_weather-covid.twig' %}
</div>

{% endblock %}
